.propelbtn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;  
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    text-transform: capitalize;
    vertical-align: bottom;
    border: 0;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1); */
    font-weight: 700;
    padding: .625rem 1.5rem .5rem;
    font-size: .75rem;
    line-height: 1.5;
    margin: 5px;
    /* filter: brightness(1.15); */
    letter-spacing: 1pt;
}
.propeliconbtn{
padding: unset;
width: 36px;
height: 36px;
color: var(--grey-color-6);
background-color: #f1f1f2;
font-weight: bolder !important;
transition: background-color 0.3s ease;
}

.propeliconbtn > * {
    font-weight: 800;
    stroke:var(--grey-color-6);
    stroke-width: 0.4px;
    transition:0.4s  ease-in-out;
    color: var(--grey-color-6);
    fill: var(--grey-color-6);
}
.propeliconbtn:hover > *{
    rotate: 30deg;
    stroke:var(--button-positive-color);
    color: var(--button-positive-color);
    fill: var(--button-positive-color);
}
.propeliconbtn:hover{
    color: var(--button-positive-color);
    background-color: var(--button-positive-background-color);
}
.propelbtn::-moz-focus-inner {
    border: none;
}

/* Overlay */
.propelbtn[type="submit"]::before,.propelbtn[loader="submit"]::before  {
   content: "";
   position: absolute;
   border: 2px solid var(--white-color);
   border-left: 2px solid transparent;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   animation: btnloader 0.4s infinite;
   display: none;
   -webkit-animation: btnloader 0.4s infinite;
}

@keyframes btnloader{
    from{
        rotate: 0deg;

    }
    to{
        rotate: 360deg;
    }
}

/* Ripple */
.propelbtn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */



.propelbtn[type="submit"]:focus,.propelbtn[loader="submit"]:focus{
    color: transparent !important;
}
.propelbtn:focus::before {
    display: block;
}



/* Active */
.propelbtn:active {
    box-shadow: 0 5px 5px -3px var(--black-color-3), 0 8px 10px 1px var(--black-color-9), 0 3px 14px 2px var(--black-color-10);
}

.propelbtn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
}



.propelbtn:disabled::before {
    opacity: 0;
}

.propelbtn:disabled::after {
    opacity: 0;
}



.propelbtnrounded {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.propelbtncurved {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}


.propelsubmit , .propeladd ,.propelreset , .wizard-move , .propelback , .propellogin {
    background-color: var(--button-positive-background-color);
    color:var(--button-positive-color);
    border: 2px solid var(--button-positive-color);

}
.propelsubmit:hover,.propeladd:hover , .propelreset:hover , .wizard-move:hover , .propelback:hover , .propellogin:hover{
    background-color: var(--button-positive-color);
    color: white;
    box-shadow: 0 6px 18px -8px rgba(94,86,105,.56);
}

.propelbtn.disable{
    cursor: not-allowed ;
    box-shadow: none;
    background-color: rgb(243, 243, 243);
    color: unset;
    border: 2px solid rgb(243, 243, 243);
   
}


   /* .propelbtn:not(.disable):not(.hoverable-btn):not(.propeliconbtn){
    color: var(--white-color);
} */


.propelbtn:active{
    animation: propel-btn-pressed 1s ease-out  ;
    -webkit-animation: propel-btn-pressed 1s ease-out ;
}
@keyframes propel-btn-pressed {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%{
       transform:scale(0.9);
       -webkit-transform:scale(0.9);
       -moz-transform:scale(0.9);
       -ms-transform:scale(0.9);
       -o-transform:scale(0.9);
}
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}




.propel-glass-btn {

  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  /* padding: 16px 21px; */
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.propel-glass-btn:before , .power-button:before{
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}
.power-button:before{
    border-radius: 50%;
}

.propel-glass-btn:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .propel-glass-btn {
    /* padding: 16px 48px; */
  }
}
.power-button{
   background-color: rgb(234,84,85);
   border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    scale: 0.8;
    /* box-shadow: 0 1px 10px 1px  rgb(234,84,85); */
    overflow: hidden;
}
.power-button:hover{
    background-color: rgb(234,84,85);
    box-shadow: 0 1px 10px 1px  rgb(234,84,85); 
}
.power-button svg{
   fill: white;
   scale: 0.8;
}
.propelbtn-sm{
    height: 25px;
    padding: 0 8px;
}